<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>

      <%= require('html-loader!./assets/html/head.html') %>


  </head>
  <body>

        <%= require('html-loader!./assets/html/navbar.html') %>


<div class="page-container slate-theme " id="home">

      <section class="hero circuit-overlay">
        <div class="hero-body">
          <div class="container has-text-centered" id='jumbotron'>
            <h1 class="title font-primary-title color-primary">
                Token Mining Pool
            </h1>

        <!--
            <h2 class="subtitle">
              Mine 0xBitcoin with us
            </h2>
          -->


              <a v-bind:href='pool.poolData.etherscanMintingURL' >
                <p>Minting: {{pool.poolData.mintingAddress}}</p>
              </a>

              <a v-bind:href='pool.poolData.etherscanPaymentURL' >
                <p>Payments: {{pool.poolData.paymentAddress}}</p>
              </a>

              <div class="whitespace-sm"></div>

              <div class="columns">
              <div class= "column   is-half-desktop " style=" margin: 0 auto;">

                    <canvas id="hashgraph"></canvas>

               </div>
             </div>

             <div class="whitespace-sm"></div>


             <a href="/account" target="_blank">
               <div class='button-bubble button-white'>View Account Shares</div>
             </a>

             <div class="whitespace-sm"></div>


          </div>
        </div>
      </section>




      <div id="guide" class="box background-secondary has-text-centered ">
        <div class='title'> Start Mining FreeDomToken </div>
        <div class='subtitle '> Download the Token Miner from Github </div>

        <a href="https://gitlab.com/undeaddev/FreeDomCoin/miner/" target="_blank">
          <div class='button-bubble button-primary'>Download the FreeDomToken Miner</div>
        </a>


        <div class="toggle-mining-instructions acts-as-link color-fun-secondary">Instructions</div>

        <div class="mining-instructions-container">
            <div class="columns">
            <div class= "column background-primary color-orange is-half-desktop " style=" margin: 0 auto;">
              <p>Download the mining software - version 1.5 or higher</p>
              <hr>
              <p>Connect to this pool with 'pool select http://51.68.98.194:8586'</p>
              <hr>
              <p>Start mining with 'pool mine'</p>
             </div>
           </div>
     </div>

      </div>

      <div id="solutiontxlist" class="box background-secondary transaction-list " style="overflow-x:auto; min-height:480px;">
        <div class='subtitle'>Recent Solutions</div>
        <table class='table table-dark zeroauto'>

          <thead>
            <tr >
              <td> Block </td>
              <td> TxHash </td>
              <td>   </td>
              <td> Status </td>
            </tr>
          </thead>

          <tbody>

            <tr v-for="(item, index) in transactions.tx_list"  v-bind:class="item.htmlClass">
              <td>  {{ item.block  }} </td>
              <td>

                <a v-bind:href='item.txURL' >
                 {{ item.txHash  }}
               </a>
               </td>

              <td class="tx-status-cell">  {{ item.formattedStatus}} </td>
            </tr>

          </tbody>
        </table>

      </div>

      <div id="transfertxlist" class="box background-secondary transaction-list  " style="overflow-x:auto; min-height:480px;">
        <div class='subtitle'>Recent Transfers</div>
        <table class='table table-dark zeroauto'>

          <thead>
            <tr >
              <td> Block </td>
              <td> TxHash </td>
              <td>   </td>
              <td > Status </td>
            </tr>
          </thead>

          <tbody>

            <tr v-for="(item, index) in transactions.tx_list"  v-bind:class="item.htmlClass">
              <td>  {{ item.block  }} </td>
              <td>
                  <a v-bind:href='item.txURL' >
                 {{ item.txHash  }}
               </a>
               </td>

              <td class="tx-status-cell">  {{ item.formattedStatus}} </td>
            </tr>

          </tbody>
        </table>

      </div>



      <div id="about" class="box background-secondary has-text-centered">

        <div class="whitespace-sm"></div>

        <div class='title'> Token Mining Pool </div>


        <div class="whitespace-sm"></div>

        <div class='subtitle '> Mine Ethereum tokens distributed using Proof of Work </div>




        <div class="">

        </div>

        <div class="">
          <p> View  <a href="/overview" target="_blank"> Server Health </a> </p>


          <p> Read more on <a href="https://reddit.com/r/tokenmining" target="_blank"> Reddit </a> </p>


        </div>
      </div>


  </div>


      <%= require('html-loader!./assets/html/footer.html') %>


  </body>
</html>
